@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;
  padding: 20px 20px 20px 100px;
  background-color: #323232;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 69px;
}
.navbar__logo a {
  display: block;
}
.navbar__logo img {
  max-width: 100%;
  height: auto;
}
.navbar__links {
  display: flex;
}
.navbar__links .navbar__link {
  color: #e5e5e5;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  color: #e5e5e5;
}
.navbar__links .navbar__link:hover, .navbar__links .navbar__link.navbar__link--active {
  color: #ffffff;
}
.navbar__links .navbar__link::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s;
}
.navbar__links .navbar__link:hover::after, .navbar__links .navbar__link.navbar__link--active::after {
  opacity: 1;
  width: 100%;
}

.hero {
  background: url(./assets/images/hero-bio.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.hero::before {
  content: "";
  height: 100%; /* Change height to match .hero height */
  width: 100%; /* Add width property */
  position: absolute;
  top: 0; /* Adjust top position */
  left: 0;
  -webkit-backdrop-filter: brightness(40%);
          backdrop-filter: brightness(40%);
  z-index: 1;
}
.hero h1 {
  color: white;
  width: 80%;
  margin: auto;
  font-size: 3rem;
  position: relative; /* Ensure the h1 stays above the pseudo-element */
  z-index: 2; /* Ensure the h1 stays above the pseudo-element */
}

.about {
  padding: 20px;
  width: 80%;
  margin: auto;
}
.about .header_inner {
  width: 90%;
  margin: auto;
  padding: 20px;
}
.about__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: "Avenir Next", sans-serif;
  padding-bottom: 0px;
  padding-top: 8px;
  color: #323232;
}
.about__image {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.about__subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Avenir Next", sans-serif;
  padding-bottom: 16px;
  color: #323232;
}
.about__quote {
  font-size: 14px;
  font-weight: 600;
  font-family: "Avenir Next", sans-serif;
  margin-bottom: 16px;
  padding-bottom: 16px;
  color: #323232;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
}
.about__quote .about__quote-author {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);
}
.about__subheader {
  font-size: 1.3rem;
}
.about .about-text1 {
  display: flex;
  gap: 30px;
}
.about__text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  color: #323232;
}

.photo-gallery {
  background-color: #fafafa;
  padding: 1rem;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.photo-gallery__header {
  color: #000;
  font-family: "Avenir Next";
  font-weight: bold;
  padding-bottom: 1rem;
  color: #323232;
}
.photo-gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 20px;
}
.photo-gallery__image {
  width: 100%;
  height: auto;
}
@media (min-width: 48rem) {
  .photo-gallery__images {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 80rem) {
  .photo-gallery__images {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.comments-section {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.comments-section .comments-form {
  width: 50%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.comments-section .comments-form .user-avatar-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.comments-section .comments-form .comment-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.comments-section .comments-form .comment-form-container .name-container {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  width: 100%;
}
.comments-section .comments-form .comment-form-container .name-container .name-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments-section .comments-form .comment-form-container .name-container .name-field-container label {
  color: rgba(0, 0, 0, 0.7);
}
.comments-section .comments-form .comment-form-container .name-container .name-field-container input {
  height: 20px;
  padding: 15px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.comments-section .comments-form .comment-form-container .comment-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments-section .comments-form .comment-form-container .comment-field-container label {
  color: rgba(0, 0, 0, 0.7);
}
.comments-section .comments-form .comment-form-container .comment-field-container textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  resize: none;
}
.comments-section .comments-form .comment-form-container .button-container {
  display: flex;
  justify-content: flex-end;
}
.comments-section .comments-form .comment-form-container .button-container button {
  padding: 10px 25px;
  background: #0e0606;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.comments-section #comments-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.comments-section #comments-container .comment {
  display: flex;
  gap: 10px;
}
.comments-section #comments-container .comment .avatar-container .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
}
.comments-section #comments-container .comment .comment-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
.comments-section #comments-container .comment .comment-content .name-date-container {
  display: flex;
  justify-content: space-between;
}
.comments-section #comments-container .comment .comment-content .name-date-container span {
  color: rgba(0, 0, 0, 0.7);
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer__content .footer1-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__content .footer1-div .footer__heading {
  font-size: 2rem;
}
.footer__content .footer__socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__content .footer__socials .footer-icon {
  display: flex;
  justify-content: space-between;
}
.footer__content .footer__socials .footer-icon img {
  height: 2rem;
  width: 2rem;
}
.footer__content .footer__agents {
  display: flex;
  gap: 20px;
}
.footer__content .footer__agents .footer__agent_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}
.footer__content a {
  color: #ffffff;
  text-decoration: none;
}
.footer__content a:hover {
  text-decoration: underline;
}
.footer__copyright {
  font-size: 14px;
  margin-top: 16px;
}
.footer p {
  width: 80%;
  margin: auto;
}

@media (max-width: 800px) {
  .hero {
    height: 400px;
  }
  .comments-section {
    width: 90%;
  }
  .comments-section .comments-form {
    width: 100%;
  }
  .comments-section #comments-container {
    width: 90%;
  }
  .footer__content {
    width: 90%;
  }
  .footer__content .footer__agents {
    flex-direction: column;
  }
  .footer__content .footer__copyright {
    order: -1;
    padding-left: 100px;
  }
}
@media (max-width: 640px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
    height: 115px;
  }
  .navbar .navbar__links {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .button-container {
    width: 100%;
    display: flex;
  }
  .button-container button {
    flex: 1;
  }
  .footer__content {
    flex-direction: column;
    gap: 20px;
  }
  .footer__content .footer__socials {
    width: 200px;
  }
  .footer__content .footer__copyright {
    order: 0;
    padding-left: 0;
  }
  .about__quote {
    width: 100%;
  }
  .about-text1 {
    flex-direction: column;
  }
  .about {
    width: 98%;
  }
  .about .header_inner {
    width: 100%;
  }
  .photo-gallery {
    width: 98%;
  }
  .comments-section {
    width: 98%;
  }
  .comments-section .comments-form {
    width: 100%;
  }
}/*# sourceMappingURL=bio.css.map */